<div class="calculator">
    <div class="calculator-grid">
        <div class="output">
            <div class="previos-operand">
                {{prevValue}}
            </div>

            <div class="binnary-result">
                <span class="binnary-text" *ngIf="binVal !== null">BIN</span> <br>
                {{binVal}}
            </div>
            
            <div class="hex-result">
                <span class="hex-text" *ngIf="hexVal !== null">HEX</span> <br>
                {{hexVal}}
            </div>
            
            <div class="current-operand">
                {{display}}
            </div>
        </div>

        <button (click)="resetCalc()">AC</button>
        <button (click)="oper('√')">√x</button>
        <button (click)="oper('²')">x²</button>
        <button (click)="oper('/')">/</button>
        <button (click)="numClick(7)">7</button>
        <button (click)="numClick(8)">8</button>
        <button (click)="numClick(9)">9</button>
        <button (click)="oper('*')">*</button>
        <button (click)="numClick(4)">4</button>
        <button (click)="numClick(5)">5</button>
        <button (click)="numClick(6)">6</button>
        <button (click)="oper('+')">+</button>
        <button (click)="numClick(1)">1</button>
        <button (click)="numClick(2)">2</button>
        <button (click)="numClick(3)">3</button>
        <button (click)="oper('-')">-</button>
        <button class="calculator-grid-left-bottom" (click)="delChar()">←</button>
        <button (click)="numClick(0)">0</button>
        <button class="calculator-grid-right-bottom" (click)="calculate()">=</button>
    </div>

    <div class="history">
        <ul class="history-list-sample" *ngFor="let sample of (historyList | slice: -20)">
            <li>
                {{sample.equal}} <br> 
                {{sample.result}}
            </li>
        </ul>
    </div>

</div>