<div class="calculator">
    <div class="calculator-grid">
        <div class="output">
            <div class="previos-operand">1111 +</div>
            <div class="binnary-result">0011</div>
            <div class="hex-result">1F</div>
            <div class="current-operand">123</div>
        </div>

        <button>AC</button>
        <button>√x</button>
        <button>x²</button>
        <button>/</button>
        <button>9</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>+</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>-</button>
        <button class="calculator-grid-left-bottom">←</button>
        <button>0</button>
        <button class="calculator-grid-right-bottom">=</button>
    </div>


    <div class="history">
        <ul class="history-list-sample" *ngFor="let sample of (historyList | slice: -20)">
            <li>
                {{sample.equal}} <br> 
                {{sample.result}}
            </li>
        </ul>
    </div>
</div>